/**
*Header style
*/
@use 'variables';
.header {
  height: 400px;
  /* width: auto; */
  @include variables.flex;
  background-color: variables.$headerBackground;
  background-image: variables.$backgroundImage;

  h2 {
    color: variables.$textcolor;
  }
}