/**
*Header style
*/
.header {
  height: 400px;
  /* width: auto; */
  display: flex;
  /* margin-top: 120px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#e99457;
  background-image: url("/images/transparent.png");
}